@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-form {
          height: 70%;
          border: none;
}
.delivery-loader-container {
          position: relative;
          width: 100%;
          height: 100px; /* Adjust height as needed */
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .delivery-loader {
          display: flex;
          align-items: center;
        }
        .bgc{
          background-color:  #ddecb1;
        }
        .btnbg{
          background-color: #4a6104;
        }
        .active{
          background-color: #4a6104;
          color: white;

        }
        
        .loader-circle {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #007bff; /* Loader color */
          margin-right: 10px;
          animation: loader-spin 1s linear infinite;
        }
        
        .loader-line {
          width: 2px;
          height: 30px; /* Loader line length */
          background-color: #007bff; /* Loader color */
          animation: loader-grow 1s linear infinite;
        }
        
        .delivery-success {
          font-size: 20px;
          font-weight: bold;
          color: #28a745; /* Success color */
        }
        
        @keyframes loader-spin {
          to {
            transform: rotate(360deg);
          }
        }
        
        @keyframes loader-grow {
          0%,
          100% {
            height: 30px;
          }
          50% {
            height: 15px;
          }
        }
        

        